@model Annonce
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_Layout - Copier.cshtml";
}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src= "@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.Titre</h3>
            <p>@Model.Description</p>
            <h3 class="my-3">Les Details d'annonce</h3>
            <ul>
                <li>@Model.DateAnnonce</li>
                <li>@Model.Categorie.Name</li>
                
            </ul>
        </div>

    </div>
 
    <!-- /.row -->

</div>
<!-- /.container -->
